@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
/*font-family: 'Kanit', sans-serif;*/


body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #111111;
  -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  -ms-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

/*-----------------------------
  button, input , a , btn
-----------------------------*/
button,
input {
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -o-outline: 0 !important;
  -ms-outline: 0 !important;
  outline: 0 !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;

}

.btn,
.btn.focus,
.btn:active,
.btn.active,
.btn:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  border: 0;
}


:root 
{
    --dark_0: #111111;
    --dark_1: #2F2F2F;
    --dark_2: #707272;
    --brown_0: #AD8F6C;
    --brown_1: #E7DACA;
}


.color1
{
  color: var(--brown_0);
}


.b_300
{
  font-weight: 300;
}
.b_400
{
  font-weight: 400;
}
.b_500
{
  font-weight: 500;
}
.b_600
{
  font-weight: 600;
}
.b_700
{
  font-weight: 700;
}




.btn_primary
{
    background-color: var(--brown_0);
    border-radius: 6px;
    color: white;
    transition: all ease 0.3s;
    padding: 10px 23px !important;
    border: none;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    border: 2px solid var(--brown_0);
}
.btn_primary:hover,
.btn_secondary:hover
{
  color: white !important;
  transform: scale(0.95);
  box-shadow: 0px 4px 5px -1px #11163736;
}
.btn_secondary
{
    background-color: var(--dark_0);
    border-radius: 6px;
    color: white;
    transition: all ease 0.3s;
    padding: 10px 23px !important;
    border: none;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    border: 2px solid var(--dark_0);
}
.btn_size
{
    background-color: #D0BCA4;
    border-radius: 6px;
    color: white;
    transition: all ease 0.3s;
    padding: 4px 4px 4px 16px !important;
    border: none;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    border: 2px solid #D0BCA4;
}
.btn_size span
{
    display: inline-block;
    background-color: var(--brown_0);
    color: white;
    padding: 6px 14px;
    border-radius: 5px;
    margin-left: 9px;
}

.form-check-input:checked 
{
    background-color: var(--brown_0);
    border-color: #8c5515;
}


.section_title
{
    background-color: var(--dark_0);
    padding: 150px 10px 50px;
    border-radius: 0 0 10px 10px;
    background-image: url(../graphics/bg_pattern.webp);
    background-size: cover;
    margin-bottom: -11px;
 }
.form-control,
.form-select
{
    background-color: #ad8f6c45;
    border: none;
}
.form-control:focus,
.form-select:focus 
{
    box-shadow:0 0 0 0.25rem rgb(165 130 95 / 40%);
}

.section_top_footer
{
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
  border-radius: 15px 15px 0 0;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -10px;
}
.section_top_footer .section_wrap
{
  border-radius: 10px;
  background-color: var(--brown_0);
  padding: 45px;
  max-width: 950px;
  margin: auto;
}
.dropdown-item.active, 
.dropdown-item:active 
{
    background-color: #ad8f6c;
}





/*header*/
.navbar .menu
{
      width: 39px;
}
.header
{
    transition: all ease 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header .head_wrap
{
  background-color: var(--dark_0);
  padding:8px 7px;
  border-radius:10px;
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
  margin: 13px 0 0;
  transition: all ease 0.3s;
}
.header.sticky .head_wrap
{
  padding: 0px 0px;
  margin: 0;
    border-radius: 0 0 10px 10px;
}
.navbar-brand .logo
{
  width: 135px;
}
.header .nav-link
{
  margin: 0 0 0 6px;
  color: white;
  font-size: 17px;
}
.header .nav-link.active,
.header .nav-link:hover
{
  color: var(--brown_0);
}
.header .nav-item.categories .nav-link::after
{
  content: url("../graphics/icon/arrow_down.svg");
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 4px;
  height: 19px;

}
/*footer*/
footer
{
  background-color: var(--dark_0);
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
      padding-bottom: 15px;

}
footer .footer_logo
{
    width: 215px;
  }
footer .footer_wrap
{
      background-color: #11111166;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    padding: 50px 0;
}
footer .b_600
{
  color: white;
}
footer .b_600:hover
{
  color: var(--brown_0);
}
footer .social_icon
{
    list-style: none;
    display: inline-block;
    border-top: 2px dashed #ad8f6c1a;
}
footer .social_icon a
{
display: block;
    width: 45px;
    height: 45px;
    background-color: var(--dark_1);
    border-radius: 100px;
    padding: 10px;
    margin: 0 8px;
    transition: all ease 0.3s;
}
footer .social_icon a img
{
  width: 20px;
}
footer .social_icon a:hover
{
  background-color: var(--dark_0);
}
footer .copyright
{
  color: var(--dark_2);
}
footer .copyright a
{
  color: var(--brown_0);
}

  
 
.owl-nav .owl-prev img
{
  transform: scale(-1);
}
.carousel_1 .item
{
  filter: drop-shadow(0px 4px 6px var(--dark_0));
}
.carousel_1 .owl-nav
{
    display: flex;
    justify-content: flex-end;
}
.owl-nav img
{
    width: 35px;
}

.island_menu
{
position: fixed;
    bottom: 20px;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background: #1111116e;
    backdrop-filter: blur(16px);
     /* fix 07-10-2025 */
    /* width: 580px; */
    width: max-content;
    padding: 8px 8px;

    border-radius: 8px;
}




/*home*/
.home section
{
  padding-bottom: 80px;
}
.home .section1
{
  background-color: var(--brown_1);
  padding-top: 150px;

    background-image: url(../graphics/pattern3.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 107%;

}
.home .section1 .carousel_subtitle .item
{
    background-color: var(--brown_0);
    display: inline-block;
    color: white;
    padding: 6px 27px 4px;
    margin: 5px 0;
    border-radius: 100px;

}
.home .section1 .carousel_subtitle .item small
{
      color: black;
    float: right;
    font-size: 12px;
}
.home .section1 .carousel_subtitle .item small:hover
{
  text-decoration: underline;
}
.home .section1 .carousel_subtitle .item h4{
  font-size: 1.25rem;
}
.home .section1 .pattern1
{
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 809px;
    width: 100%;
}
.home .section2 
{
    background-color: var(--brown_1);
}
.home .section2 .banner_img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 426px;
        object-position: right;
    overflow: visible;
}
.home .section2 .stamp
{
  position: absolute;
    width: 128px;
    right: 30%;
    top: -37px;
}
.home .section2 .section2_wrap
{
  background-color: var(--dark_0);
  border-radius:15px;
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
/*  padding: 30px 60px;*/
overflow: hidden;
}
.home .section2 .sub
{
  color: var(--brown_1);
}
.home .section3
{
  background-color: var(--brown_1);
}
.home .section3 .desc
{
      max-width: 700px;
    margin: auto;
}
 
.home .section3::after
{
    content: "";
    background-image: url(../graphics/pattern1.svg);
    width: 100%;
    display: block;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: -116px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
/*    pointer-events: none;*/
}


.home .section4
{
  margin-top: 160px;
}
.home .section4 .carousel_latest .owl-nav
{
  position: absolute;
    top: -50px;
    left: 10px;
}
.home .section4 .latest_wrap
{
  border: 2px solid var(--brown_1);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    min-height: 508px;
}
.home .section4 .latest_wrap img
{
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
        filter: sepia(0.3);
}
.home .section4 .latest_wrap .desc
{
  color: var(--dark_2);
/*      height: 70px;
    overflow: hidden;*/
}
.home .section4 .latest_wrap .title
{
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.home .section5 .desc
{
  color: var(--brown_1);
      max-width: 630px;
    margin: auto;
}
.home .section5 .section_wrap
{
  border-radius: 10px;
  background-color: var(--dark_1);
      padding: 45px;
    max-width: 950px;
    margin: auto;
}
.home .section5 .pattern1
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1196px;
    z-index: -1;
    width: 100%;
}

.home .section6 .content
{
  background-color: var(--brown_1);
  border-radius: 8px;
      padding: 10px;
}
.home .section6 .content .icon
{
  width: 75px;
}

.home .section7 video
{
  border-radius: 10px;
}

.home .section8
{
  background-color: var(--brown_1);
  padding-top: 50px;
  margin-bottom: -14px;
}
.home .section8::before
{
    content: "";
    background-image: url(../graphics/pattern5.svg);
    width: 100%;
    display: block;
    height: 125px;
    position: absolute;
    left: 0;
    top: -116px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    pointer-events: none;
}
.home .section8 .accordion-item
{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
  }
.home .section8 video
{
  border-radius: 10px;
}
.accordion-button:not(.collapsed)
{
  color: var(--brown_0);
  background-color: #fff6e7;
  box-shadow: none;
}




.home .section10 .carousel_events .owl-nav
{
  position: absolute;
  top: -50px;
  right: 10px;
}
.home .section10 .carousel_events .date
{
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 5px 10px !important;
  font-size: 13px;
  box-shadow: 0px 5px 7px 0px #00000061;
}
.home .section10 .event_wrap
{
  border: 2px solid var(--brown_1);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}
.home .section10 .event_wrap img
{
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}
.home .section10 .event_wrap .desc
{
  color: var(--dark_2);
}
.home .section10 .event_wrap .title
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}






/*products*/
.products section
{
  padding-bottom: 80px;
}
.products .section1
{
  background-color: var(--dark_1);
  padding-top: 170px;
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
}
.products .section1 .title
{
  font-size: 170px;
}
.products .section1 .plane_logo
{
    width: 465px;
    margin-left: 60px;
    margin-bottom: -20px;
}
.products .section1 .img_product
{
    margin-top: -104px;
    filter: drop-shadow(0px -4px 15px black);
/*    transform: rotate(-12deg);*/
    width: 450px;
    object-fit: contain;
}
.products .section1 .img_product.mil_300
{
 margin-top: -35px;
}
.products .section1::after
{
  /*content: "";
    background-image: url(../graphics/pattern6.svg);
    width: 100%;
    display: block;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: -116px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    pointer-events: none;*/
}
.products .section1 .pattern6
{
      margin-bottom: -3px;
    margin-top: -200px;
    pointer-events: none;
}
.products .section1 .hemostatic
{
  display: inline-block;
  background-color: #00000073;
  border-radius: 8px;
  padding: 9px 22px;
  color: var(--brown_0);
  margin-bottom: 12px;
  line-height: 1.3;
}


.products .section2  
{
  background-color: var(--brown_1);
  padding-top: 50px;
}
.products .section2  .content2 .round_text
{
    width: 100%;
    margin: auto;
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    transform: scale(1.1);
}
.products .section2 .image_wrap
{
    background-color: var(--brown_0);
    width: 100%;
    border-radius: 200px;
    /* padding: 35px; */
    min-height: 555px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.products .section2 .sem_img
{
    width: 180px;
    height: 180px;
    position: absolute;
    right: -22px;
    bottom: 33px;
    border-radius: 100px;
    border: 6px solid var(--brown_0);
}


.products .section3
{
  background-color: var(--brown_1);
}
.products .section3 .pattern1
{
    margin-bottom: -45px;
    position: relative;
  }
.products .section3 .pattern2
{
    margin-bottom: -65px;
    position: relative;
}
.products .section3 video
{
  border-radius: 15px;
}

.m-scroll {
  display: flex;
  position: relative;
/*  width: 800px;*/
  height: 175px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
      margin-bottom: -105px;
}
.m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}
.m-scroll__title > div {
  display: flex;
  -webkit-animation: scrollText 33s infinite linear;
          animation: scrollText 33s infinite linear;
}
.m-scroll__title h2 {
    margin: 0;
    font-size: 100px;
    color: var(--brown_1);
    /* transition: all 2s ease; */
    stroke: 1px solid;
    -webkit-text-stroke: 1px var(--brown_0);
    font-weight: 700;
    font-style: italic;
}
 
 
@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.products .section4
{
  background-color: var(--brown_1);
}
.products .section4 .steps
{
  max-width: 536px;
  border-radius: 100%;
    padding: 35px 92px;
        z-index: 1;
    position: relative;


  background: rgb(220,203,184);
background: -moz-linear-gradient(0deg, rgba(220,203,184,1) 0%, rgba(231,218,202,0) 100%);
background: -webkit-linear-gradient(0deg, rgba(220,203,184,1) 0%, rgba(231,218,202,0) 100%);
background: linear-gradient(0deg, rgba(220,203,184,1) 0%, rgba(231,218,202,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dccbb8",endColorstr="#e7daca",GradientType=1);
}
.products .section4 .carousel_step .owl-prev
{
    position: absolute;
    left: -50px;
    top: 30%;
}
.products .section4 .carousel_step .owl-next
{
    position: absolute;
    right: -50px;
    top: 30%;
}

.products .section5
{
  background-color: var(--dark_1);
/*  padding-top: 80px;*/
  background-image: url("../graphics/bg_pattern.webp");
  background-size: cover;
      margin-top: -230px;
    position: relative;
}
.products .section5 .pattern6 
{
  margin-top: -5px;
}
.products .section5 .content1
{
  border: 2px solid var(--brown_0);
  border-radius: 15px;
}

.home_table_scroll{
  overflow: scroll;

}
.products .section5 .content1 img
{
  max-width: 300px;
}


.products .section5 .contact_wrap
{
  border-radius: 10px;
  background-color: var(--brown_0);
      padding:0 40px;
    max-width: 950px;
    margin: auto;
}
.products .section5 .contact_wrap .title
{
      font-size: 102px;
    line-height: 80px;
    color: var(--dark_1);
}
.products .section5 .contact_wrap .btn_read
{
    position: absolute;
    top: 32%;
    left: 50%;
}



/*contact page*/
.contact .section2
{
  background-color: var(--brown_1);
  padding: 80px 0;
}
.contact .section4
{
  background-color: var(--brown_1);
}
.contact .section2 .form_wrap
{
    border-radius: 10px;
    border: 2px solid var(--brown_0);
}
.contact .section2 .country-select
{
  width: 100%;
}
.contact .section2 #country_selector
{
      padding-top: 16px;
    padding-bottom: 16px;
}
.contact .section2 .address a:hover
{
  color: black;
}
.contact .section2 .address h4{
  font-size: 1.25rem;
}
.contact .section2 .form-check-label
{
  font-size: 15px;
}
.country-select.inside .flag-dropdown .selected-flag 
{
    background-color: rgba(0,0,0,.05);
}
.country-select .selected-flag .arrow 
{
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.contact .section5
{
  background-color: var(--brown_1);
  padding-bottom: 80px;
}





/*technology page*/
.technology .section2
{
  background-color: var(--brown_1);
  padding: 60px 0;
}
.technology .section2 .nav-link
{
    font-size: 22px;
    padding: 10px 30px;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link 
{
  background-color: #111111;
}
.nav-pills .nav-link
{
  color: var(--brown_0);
}
.technology .section2 ul.nav
{
  border: 2px solid var(--brown_0);
    width: 390px;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
}
.technology .section2 .tab-pane
{
    border: 2px solid var(--brown_0);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
}
.technology .section2 .tab-pane .p1
{
    max-width: 700px;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 15px;
    width: 100%;
}
.technology .section2 .standard img
{
    width: 90px;
}

.technology .section3
{
  padding: 70px 0;
}
.technology .section3 .certificate img
{
  object-fit: contain;
  border: 3px solid var(--brown_1);
  border-radius: 10px;
}
.technology .section3 .certificate p
{
  cursor: pointer;
}
.technology .section3 .board img
{
    border-radius: 10px;
    border: 3px solid var(--brown_1);
    object-fit: cover;
        max-width: 250px;
}
.technology .section3 .certificate.fda img
{
  border: none;
}
.technology .section3 .certificate.fda
{
  border: 3px solid var(--brown_1);
  border-radius: 10px;
}
.technology .section3 .counter
{
  background-color: var(--brown_0);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  height: 100%;
}




/*news*/
.news .section2 
{
  padding: 80px 0;
}
.news .section2 .news_wrap
{
background-color: var(--brown_1);
    border-radius: 8px;
    min-height: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news .section2 .brand
{
  height: 75px;
    object-fit: contain;
    background: white;
}



/*events*/
.events .section2, .events .section3
{
  padding: 80px 0;
}

.events .section2 .event_wrap,
.events .section3 .event_wrap
{
  border: 2px solid var(--brown_1);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.events .section2 .event_wrap .date,
.events .section3 .event_wrap .date
{
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 5px 10px !important;
  font-size: 13px;
  box-shadow: 0px 5px 7px 0px #00000061;

}
.events .section2 .event_wrap img,
.events .section3 .event_wrap img
{
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
}
.events .section2 .event_wrap .desc,
.events .section3 .event_wrap .desc
{
  color: var(--dark_2);
}
.events .section2 .event_wrap .title,
.events .section3 .event_wrap .title
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





/*gallery*/
.gallery .section2
{
  padding: 80px 0;
}
.gallery .gallery_wrap {
  max-width: 1200px;
  margin: 0 auto;
  column-count: 4;
  font-family: arial;
}
.gallery .gallery-item {
  break-inside: avoid;
  margin-bottom: 16px;
}
.gallery .gallery-item figure {
  margin: 0;
  position: relative;
}
.gallery .gallery-item img {
  width: 100%;
  border-radius: 6px;
  filter: sepia(0.3);
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: .92;
  border-color: var(--brown_0);
}
.fancybox__thumbs .carousel__slide
{
  opacity: 0.6;
  transform: scale(0.9);
  transition: all ease 0.3s;
}
.fancybox__thumbs .carousel__slide.is-selected.is-nav-selected
{
  opacity:1;
  transform: scale(1);
  margin: 0 10px;
}








/*blogs*/
.blogs .section2
{
  padding: 80px 0;
}

.blogs .section2 .blog_wrap
{
  border: 2px solid var(--brown_1);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  min-height: 508px;
  position: relative;
}
.blogs .section2 .blog_wrap img 
{
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
  filter: sepia(0.3);
}
.blogs .section2 .blog_wrap .desc 
{
  color: var(--dark_2);
}
.blogs .section2 .blog_wrap .title 
{
  font-size: 1.25rem;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.blogs .section2 .blog_wrap .date
{
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 5px 10px !important;
  font-size: 13px;
  box-shadow: 0px 5px 7px 0px #00000061;
}

.blog_details
{
  padding: 150px 0 80px;
}



/* success stories */
.success_stories .section2
{
  padding: 80px 0;
}
.success_stories .section2 .reach_cta
{
  display: inline-block;
  border: 3px solid var(--brown_0);
  border-radius: 15px;
  padding: 45px 10px;
  max-width: 700px;
  margin: auto;
}

/* countries image */

.countries-img {


  text-align: center;


}

.countries-img img {

  padding-top: 40px ;
  padding-right: 20px;
  
  
}

.section3-main{
  background-image: url(../graphics/bg_pattern.webp);
  padding: 40px 50px;
}
.section3-head-para{
  font-size: 18px;
}
.product-inner {
  background-color: #E9D9CA;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.product-inner h2 {
  font-size: 20px;
  font-weight: 600;
  color: #2F2F2F;
}
.product-inner p {
  color: #95693B;
  font-size: 16px;
}
.product-inner img{
  max-height: 318px;
  min-height: 318px;
}
.island_menu1{
  margin-top: 30px;
  text-align: center;
}

.island_menu1 .btn_primary1
{
    background-color: var(--brown_0);
    border-radius: 6px;
    color: white;
    transition: all ease 0.3s;
    padding: 10px 23px !important;
    border: none;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    border: 2px solid var(--brown_0);
    margin-bottom: 10px;
}
.island_menu1  .btn_primary1:hover{
  color: white !important;
  background-color: transparent;
  transform: scale(0.95);
  box-shadow: 0px 4px 5px -1px #11163736;
}
.island_menu1 .btn_primary1.img{
  margin-left: 5px;
}
.countries-head .title{
  font-size: 2.5rem;
}
.section5 h3{
  font-size: 2rem;
}
.section2-head1 h3{
  font-size: 1.25rem;
}
.section2-head h3{
  font-size: 2rem;
}
.news-inner h5{
  font-size: 1rem;
}
.btn_primary1.order_btn{
  padding-left: 40px !important;
  padding-right: 40px !important;
}


  iframe.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
    height: 0 !important;
  }

  body {
    top: 0px !important;
  }
  #google_translate_element {
    margin-left: 10px;
}
  .goog-te-gadget-simple{
    border-radius: 10px;
  }


@media only screen and (max-width: 768px) {

  
  .countries-img img {

    width: 49%;
    padding-right: 10px;
    padding-left: 10px;

    
  }
  .countries-head {

    font-size: 25px;
  }
  .product-inner img {
    max-height: 318px;
    min-height: auto;
}

/* .axi-right {
    order: -1; 
  } */
}
/* removing island menu */
.island_menu {
  display: none !important;
}
/* removing emergency  banner */


#toast3 {
  display: none;

}


/* floaters */
.india-market {
  background: #2A2A2A;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
 
}

.india-label {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}

.india-links {
  display: flex;
  gap: 10px;
}

.market-card {
  display: flex;
  align-items: center;
  gap: 8px;
  
}


.whatsapp-float  {
  position: fixed;
  bottom: 18px;
  right: 24px;
  z-index: 999;
}

.market-card img {
  width: 50px;
  height: auto;
  display: block;
}


.india-market {
  position: fixed;
  bottom: 18px;
  left: 24px;
  z-index: 999;
}
.whatsapp-ring img {
  width: 53px;
  height: 53px;
}

/* Scope everything to this container only */
.faq-accordion {
  --accordion-bg: #e8daca;
  --accordion-text: #121212;
  --accordion-accent: #ad8f6c;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

/* outer card */
.faq-accordion .accordion-item {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--accordion-bg);
  box-shadow:0 6px 20px rgba(232, 218, 202, 0.25);
}

/* button */
.faq-accordion .accordion-button {
  background-color: var(--accordion-bg);
  border-radius: 1rem;
  color: var(--accordion-text);
  box-shadow: none;
}

/* remove focus styles */
.faq-accordion .accordion-button:focus,
.faq-accordion .accordion-button:focus-visible {
  box-shadow: none;
  outline: none;
}

/* open state */
.faq-accordion .accordion-button:not(.collapsed) {
  color: var(--accordion-accent);
  background-color: var(--accordion-bg);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* collapse body */
.faq-accordion .accordion-collapse {
  background-color: var(--accordion-bg);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.faq-accordion .accordion-body {
  padding-top: 0;
  color: var(--accordion-text);
}


/* new changes 04-02-2026 */

@media (min-width:800px ){
  
  .india-label {
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .market-card img {
    width: 100px;
    height: auto;
    display: block;
  }
}

/* new location sub-menu changes  */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

/* show submenu when clicked */
.dropdown-submenu.show > .dropdown-menu {
  display: block;
}